<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Personal Detail</title>
</head>

<body>

<div id="app">
    <section class="section  " id="about">
        <div class="container">
            <div class="counter">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <h3 class="dark-color">{{PersonalInfo.firstname}} {{PersonalInfo.surname}}</h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <button class="btn text-light" style="position: absolute; top: 63px; left: 800px; font-size: 10px "> Online </button>
                                    </div>
                                    <div class="ghost">
                                        <!-- 身体部分 -->
                                        <div class="body">
                                            <div class="face">
                                                <div class="eye left"></div>
                                                <div class="eye right"></div>
                                                <div class="smile"></div>
                                                <!-- 腮红 -->
                                                <div class="rosy left"></div>
                                                <div class="rosy right"></div>
                                            </div>
                                            <!-- 手臂 -->
                                            <div class="arm left"></div>
                                            <div class="arm right"></div>
                                            <!-- 尾部 -->
                                            <div class="bottom">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <!-- 影子 -->
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="media2">
                                        <button class="btn text-light" @click="showDialog"> <i class="fa fa-edit"></i>   Update personal Detials </button>
                                    </div>

                                </div>
                            </div>

                            <!-- <h6 class="theme-color lead">A Lead UX &amp; UI designer based in Brisbane</h6> -->
                            <p>{{PersonalInfo.selfIntroduction}}</p>
                            <div class="row about-list">
                                <div class="col-md-6">

                                    <div class="media">
                                        <label style="position: absolute; top: 450px; left: 200px; white-space: nowrap;">Major</label>
                                        <p style="position: absolute; top: 450px; left: 600px; white-space: nowrap;">{{PersonalInfo.major}}</p>
                                    </div>

                                    <div class="media">
                                        <label style="position: absolute; top: 520px; left: 200px; white-space: nowrap;">Minor</label>
                                        <p style="position: absolute; top: 520px; left: 600px; white-space: nowrap;">{{PersonalInfo.minor}}</p>
                                    </div>
                                    <div class="media">
                                        <label style="position: absolute; top: 590px; left: 200px; white-space: nowrap;">Skills</label>
                                        <p style="position: absolute; top: 590px; left: 600px; white-space: nowrap;">{{PersonalInfo.skills}}</p>
                                    </div>
                                    <div class="media1" >
                                        <label style="position: absolute; top: 320px; left: 460px; white-space: nowrap;">Residency</label>
                                        <p style="position: absolute; top: 320px; left: 850px; white-space: nowrap;">Brisbane, Australia</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label style="position: absolute; top: 660px; left: 200px; white-space: nowrap;">E-mail</label>
                                        <p style="position: absolute; top: 660px; left: 600px; white-space: nowrap;">{{PersonalInfo.email}}</p>
                                    </div>
                                    <div class="media1" >
                                        <label style="position: absolute; top: 265px; left: 500px; white-space: nowrap;">Identity</label>
                                        <p style="position: absolute; top: 265px; left: 850px; white-space: nowrap;">Student</p>
                                    </div>

                                    <div class="media1">
                                        <label style="position: absolute; top: 150px; left: 460px; white-space: nowrap;">Student Num</label>
                                        <p style="position: absolute; top: 150px; left: 850px; white-space: nowrap;">{{PersonalInfo.id}}</p>
                                    </div>
                                    <div class="media1">
                                        <label style="position: absolute; top: 205px; left: 460px; white-space: nowrap;">Register Time</label>
                                        <p style="position: absolute; top: 205px; left: 850px; white-space: nowrap;">01 / 01 / 2021</p>
                                    </div>
                                    <div class="media">
                                        <label style="position: absolute; top: 730px; left: 200px; white-space: nowrap;">Intro</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div STYLE="background-color:#000000; height:8px; width:100%; position: absolute; top:400px">



    </div>
    <el-dialog
            title="Edit"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <el-form ref="form" :model="editForm" label-width="80px">
            <el-form-item label="Major">
                <el-input v-model="editForm.major"></el-input>
            </el-form-item>
            <el-form-item label="Minor">
                <el-input v-model="editForm.minor"></el-input>
            </el-form-item>
            <el-form-item label="Skills">
                <el-input v-model="editForm.skills"></el-input>
            </el-form-item>
            <el-form-item label="Email">
                <el-input v-model="editForm.email"></el-input>
            </el-form-item>
            <el-form-item label="Intro">
                <el-input v-model="editForm.selfIntroduction"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="EditSelfInfo">Edit</el-button>
            </el-form-item>

        </el-form>
    </el-dialog>
</div>
</body>


<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../css/personDetail.css">
<link rel="stylesheet" href="../css/ghost.css">
<script>
    Vue.config.productionTip = false;
    new Vue({
        el: "#app",
        data() {
            return {
                activeIndex: '1',
                PersonalInfo: {},
                editForm: {
                    major: '',
                    minor: '',
                    skills: '',
                    email: '',
                    selfIntroduction: '',
                },
                dialogVisible: false
            }
        },
        created() {
            const studentInfo = window.localStorage.getItem("studentInfo")
            if (studentInfo) {
                this.PersonalInfo = JSON.parse(studentInfo)
            }
        },
        methods: {
            handleSelect(key, keyPath) {

            },
            showDialog(){
                this.dialogVisible = true
                this.editForm.firstname = this.PersonalInfo.firstname
                this.editForm.major = this.PersonalInfo.major
                this.editForm.minor = this.PersonalInfo.minor
                this.editForm.skills = this.PersonalInfo.skills
                this.editForm.email = this.PersonalInfo.email
                this.editForm.selfIntroduction = this.PersonalInfo.selfIntroduction
                this.editForm.id = this.PersonalInfo.id
            },
            EditSelfInfo(){
                axios({
                    method:"POST",
                    url:"/students/editInfo",
                    data:this.editForm
                })
                    .then(res =>{
                        this.PersonalInfo = res.data.data
                        this.dialogVisible = false;
                        if(res.data.code === 1){
                            this.$message({
                                message: 'update success',
                                type: 'success'
                            });
                        }
                    })
            }


        }
    });
</script>
</html>