<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Test</title>
</head>
<style>
    .sidebar-container {
        transition: width 0.28s;
        width: 190px !important;
        height: 100%;
        z-index: 1001;
        overflow: hidden;
    }

    body{
        overflow-x: hidden;
    }
</style>
<body>
<!--Navigation-->
<div id="app">
    <!-- heading -->
    <div style="position: absolute; top: 63px; left: 280px; font-size: 10px;">
        <h3>Search Dashboard</h3>
    </div>

    <!-- search box     -->
    <div style = "position:absolute; top: 115px; left: 260px;">
        <input type="search" placeholder="Enter the information you need" v-text="" name="search" size = "105">
    </div>
    <div style = "position: absolute; top: 108px; left: 1077px;">
        <el-button type="primary" @click="init"> Search</el-button>
    </div>
    


    <template>
        <!--Filter Condition-->
        <el-scrollbar wrap-class="scrollbar-wrapper" style = "position: absolute; top: 70px; left: 20px;">
            <!--Radio-->
            <template>
                <el-radio v-model="student.major" label="CS">CS</el-radio>
                <div></div>
                <el-radio v-model="student.major" label="IS">IS</el-radio>
                <div></div>
                <el-radio v-model="student.major" label="All">All</el-radio>
            </template>
            <br><br><br>

            <!--CheckBox-->
            <template>
                <el-checkbox-group v-model="checkList">
                    <el-checkbox label="Java"></el-checkbox>
                    <div></div>
                    <el-checkbox label="Php"></el-checkbox>
                    <div></div>
                    <el-checkbox label="Javasript"></el-checkbox>
                </el-checkbox-group>
                <br><br><br>
            </template>

            <template>
                <el-radio v-model="student.major" label="Japan">Japan</el-radio>
                <div></div>
                <el-radio v-model="student.major" label="Australia">Australia</el-radio>
                <div></div>
                <el-radio v-model="student.major" label="France">France</el-radio>
            </template>
            <br><br><br>
        </el-scrollbar>

        <!--Table Info-->
        <el-table
                :data="tableData"
                style="position: absolute; max-width: 1399px; ; max-height: 440px; width: 1399px; height: 530px;overflow-x: hidden; overflow-y: auto; left: 255px; top: 180px;"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="190">
            </el-table-column>
            <el-table-column
                    prop="surname"
                    label="Surname"
                    width="190"
            >
            </el-table-column>
            <el-table-column
                    prop="firstname"
                    label="Firstname"
                    width="190"
            >
            </el-table-column>
            <el-table-column
                    prop="major"
                    label="Major"
                    width="190">

            </el-table-column>
            <el-table-column
                    prop="minor"
                    label="Minor"
                    width="190">

            </el-table-column>

            <el-table-column
                    prop="operation"
                    label="Operation"
                    width="220"
                    align="center">
                <template slot-scope="scope">
                    <el-button type="primary" round v-on:click="handleEdit(scope.row) ">Detail</el-button>
                    <el-button type="warning" round v-on:click="handleDelete(scope.row) ">Invite</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--分页-->
    <el-pagination
            style="margin-left: 255px; margin-top: 630px;" 
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>



</div>

<style>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script>
    Vue.config.productionTip = false;
    new Vue({
        el: "#app",
        data() {
            return {
                tableData: [
                    {
                        id: '11151978',
                        firstname: "Tom",
                        surname: '王小虎',
                        major: 'cs',
                        minor: 'cs',
                    }, {
                        id: '11151978',
                        firstname: "Tom",
                        surname: '王小虎',
                        major: 'cs',
                        minor: 'music',
                    }, {
                        id: '11151978',
                        firstname: "Tom",
                        surname: '王小虎',
                        major: 'dfsgfd',
                        minor: 'dgehyr',
                    }, {
                        id: '11151978',
                        firstname: "Tom",
                        surname: '王小虎',
                        major: 'ytukyu',
                        minor: 'yuyes',
                    }
                ],
                totalCount: 0,
                currentPage: 1,
                pageSize: 5,
                // radio:'1',
                student:{
                    id:'',
                    major:'All',
                    minor:'',
                },
                checkList: []

            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1 || rowIndex === 5 || rowIndex === 9) {
                    return 'warning-row';
                } else if (rowIndex === 3 || rowIndex === 7) {
                    return 'success-row';
                } else if (rowIndex % 2 === 0) {
                    return '';
                }

            },
            handleEdit(row) {
                console.log(row);
            },
            handleDelete(row) {
                console.log(row);
            },
            //分页
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.currentPage = val
                this.init()
            },
            init() {
                axios({
                    method: "POST",
                    url: "http://localhost/students/pagination?currentPage=" + this.currentPage
                        + "&pageSize=" + this.pageSize + "&checkList=" + this.checkList,
                    data:this.student
                })
                    .then(res => {
                        if (res.data.code === 1) {
                            this.tableData = res.data.data.records;
                            this.totalCount = res.data.data.total;
                        }

                    })
            }

        },
        created(){
            this.init()
        },
    });
</script>
</html>